<ul
  data-ng-if="gnCfg.mods.authentication.enabled || authenticated"
  class="nav navbar-nav username-dropdown accessible-dropdown"
>
  <!-- logged in -->
  <li class="dropdown" data-ng-show="authenticated" role="navigation">
    <a
      title="{{'userDetails' | translate}}"
      href
      class="dropdown-toggle gn-menuitem-xs"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
        <!-- Removed alt attribute for NRW accessibility testing fixes - previously set to {{'avatar' | translate}} -->
        <img
            class="img-circle"
            alt=""
            data-ng-src="../api/users/{{(user.id)}}.png?size=18"
        />
        <div class="gn-user-info hidden-sm hidden-md">
            <span class="gn-user-name">{{user.name}} {{user.surname}}</span><br />
            <span class="gn-user-role">{{user.profile | translate}}</span>
        </div>
        <span class="caret"></span>
        <span
            class="alert alert-danger ng-hide"
            data-ng-show="session.remainingTime > 0 &&
                            session.remainingTime < session.alertInTitleWhen"
            translate
            data-translate-values="{remainingTime: '{{session.remainingTime}}'}"
        >
            sessionWillExpireIn
        </span>
    </a>
    <!-- Add role attribute for accessibility purposes -->
    <ul class="dropdown-menu gn-menuitem-xs" role="navigation">
      <!-- Add role attribute for accessibility purposes -->
      <li class="text-center hidden-xs" role="presentation">
        <!-- Removed alt attribute for NRW accessibility testing fixes - previously set to {{'avatar' | translate}} -->
        <img
          class="img-circle"
          alt=""
          data-ng-src="../api/users/{{(user.id)}}.png?size=56"
        />
      </li>
      <li role="separator" class="divider hidden-xs"></li>
      <li class="dropdown-header hidden-xs" role="menuitem" translate>username</li>
      <li class="hidden-xs" role="menuitem">
        <a
          data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}#/organization/users?userOrGroup={{user.username}}"
          >{{user.name}} {{user.surname}}</a
        >
      </li>
      <li class="dropdown-header hidden-xs" role="menuitem" translate>profile</li>
      <li class="hidden-xs" role="menuitem">
        <a
          style="text-transform: lowercase"
          data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}#/organization/users?userOrGroup={{user.username}}"
          >{{user.profile | translate}}</a
        >
      </li>
      <li role="separator" class="divider hidden-xs"></li>
      <li role="menuitem">
        <a href="{{signoutUrl}}" title="{{'signout' | translate}}">
          <span class="fa fa-fw fa-sign-out"></span>
          {{'signout' | translate}}
        </a>
      </li>
    </ul>
  </li>
  <!-- Add role attribute for accessibility purposes -->
  <li
    class="open signin-dropdown"
    data-ng-if="!authenticated && service !== 'catalog.signin' && service !== 'new.account' && isShowLoginAsLink"
    role="menuitem"
  >
    <a
      href="{{signInFormAction}}?_csrf={{csrf}}&redirectUrl={{redirectUrlAfterSign}}"
      title="{{'signIn'|translate}}"
      class="gn-menuheader-xs"
      data-ng-keypress="$event"
      id="signinLink"
    >
      <span class="fa fa-fw fa-sign-in hidden-sm"></span>
      {{'signIn' | translate}}
    </a>
  </li>
  <!-- not logged in -->
  <!-- Add role attribute for accessibility purposes -->
  <li
    class="dropdown signin-dropdown"
    data-ng-if="!authenticated && service !== 'catalog.signin' && service !== 'new.account' && !isShowLoginAsLink && !isDisableLoginForm"
    role="presentation"
  >
    <a
      href="{{gnCfg.mods.authentication.signinUrl | signInLink}}"
      class="dropdown-toggle gn-menuheader-xs"
      data-ng-keypress="$event"
      data-toggle="dropdown"
      aria-haspopup="true"
      data-ng-mouseover="focusLoginPopup()"
      role="button"
    >
      <span class="fa fa-fw fa-sign-in hidden-sm"></span>
      {{'signIn' | translate}}
      <span class="caret"></span>
    </a>
    <!-- Add role attribute for accessibility purposes -->
    <ul class="dropdown-menu" role="navigation">
      <!-- Added max-width to prevent horizontal scrolling -->
      <form
        name="gnSigninForm"
        class="navbar-form"
        action="{{signInFormAction}}"
        method="post"
        role="form"
        style="max-width: fit-content;"
      >
        <input type="hidden" name="_csrf" value="{{csrf}}" />
        <li role="presentation">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" role="presentation">
                <span class="fa fa-fw fa-user" aria-hidden="true"></span>
              </span>
              <input
                type="text"
                class="form-control"
                id="inputUsername"
                name="username"
                autofocus=""
                placeholder="{{'username' | translate}}"
                data-ng-model="signinUsername"
                required=""
                role="textbox"
              />
            </div>
          </div>
        </li>
        <li role="presentation">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" role="presentation">
                <span class="fa fa-fw fa-lock" aria-hidden="true"></span>
              </span>
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="password"
                autocomplete="off"
                data-ng-model="signinPassword"
                placeholder="{{'password' | translate}}"
                required=""
                role="textbox"
              />
            </div>
          </div>
        </li>
        <input type="hidden" name="redirectUrl" value="{{redirectUrlAfterSign}}" />
        <li role="presentation">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            aria-label="{{'signIn' | translate}}"
            data-ng-disabled="!gnSigninForm.$valid"
            role="button"
          >
            <span class="fa fa-sign-in"></span>
            <span translate="">signIn</span>
          </button>
        </li>
      </form>
      <!-- register -->
      <li
        role="separator"
        class="divider hidden-xs"
        data-ng-show="isSelfRegisterPossible()"
      ></li>
      <li role="menuitem" data-ng-show="isSelfRegisterPossible()">
        <b data-translate="">needAnAccount</b>
        <p data-translate="">needAnAccountInfo</p>
        <a class="btn btn-default" href="new.account" data-translate=""
          >createAnAccount</a
        >
      </li>
      <li role="separator" class="divider hidden-xs" data-ng-show="isHostDefined()"></li>
      <li data-ng-show="isHostDefined()" class="gn-margin-bottom">
        <!-- forgot password -->
        <b data-translate="">forgetDetails</b>
        <span>
          <p data-translate="">forgetDetailsInfo</p>
          <a
            class="btn btn-default btn-block"
            href="catalog.signin?showforgotpassword=true"
            data-translate=""
            >recoverPassword</a
          >
        </span>
      </li>
    </ul>
  </li>
</ul>
